@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgrOrange: hsl(31, 77%, 52%);
  --bgrDarkCyan: hsl(184, 100%, 22%);
  --bgrDarkerCyan: hsl(179, 100%, 13%);
  --paragWhite: hsla(0, 0%, 100%, 0.75);
  --lightGrey: hsl(0, 0%, 95%);
}

body {
  font-size: 15px;
  background-color: var(--lightGrey);
  width: 100vw;
  height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** boxes **/
.container {
  width: 85vw;
  height: 33rem;
  max-width: 1000px;
  display: flex;
}

.box {
  width: 33.3%;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}


.box1 {
  background-color: var(--bgrOrange);
  border-radius: 5px 0 0 5px;
}

.box2 {
  background-color: var(--bgrDarkCyan);
}

.box3 {
  background-color: var(--bgrDarkerCyan);
  border-radius: 0 5px 5px 0;
}

/** box content **/
img {
  display: block;
  margin-top: 3rem;
}


h1, 
h2 {
  color: var(--lightGrey);
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

p {
  font-weight: 400;
  width: 100%;
  color: var(--paragWhite);
  margin-top: 2rem;
  line-height: 2;
}

/** buttons **/

button {
  background-color: var(--lightGrey);
  border: 1px solid #fff;
  padding: 1.1rem 2.5rem;
  border-radius: 25px;
  margin-top: 4rem;
}

.box1 button {
    color: var(--bgrOrange);
}

.box2 button {
    color: var(--bgrDarkCyan);
}

.box3 button {
    color: var(--bgrDarkerCyan);
}

button:hover {
  color: #fff;
  background-color: transparent;
}


/** media queries **/
@media (max-width: 1134px) {
.container {
  width: 90vw;
}
}

@media (max-width: 900px) {
  body {
  align-items: baseline;
  }

  .container {
    margin-top: 1rem;
    width: 20rem;
    min-width: 2rem;
    height: auto;
    flex-direction: column;
  }

  .box {
    width: 100%;
    padding: 2rem;
  }

  .box1 {
    border-radius: 5px 5px 0 0;
  }

  .box3 {
    border-radius: 0 0 5px 5px;
  }

  img {
    margin-top: 1rem;
  }

 p {
    margin-top: 1.5rem;
  }

  button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

/* Mobile Device  */
@media (max-width: 375px) {
  .container {
    width: 80vw;
    min-width: 18rem;
  }

}
